name: github pages

on:
  push:
    branches:
      - main

jobs:
  build-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: "Dioxus Deploy"
        uses: DioxusLabs/deploy-action@0.1.2
        with:
          # annoyingly, building release mode fails right now due to: https://github.com/DioxusLabs/dioxus/pull/5066
          # so, nee danother flag in its place
          buildMode: "web"
